body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    background-color: #c5c2c2;
    /* border-radius: ; */
}

#footer {
    position: absolute;
    bottom: 0px;
    font-size: 9px;
    padding-bottom: 6px;
}

.convert {
    margin: 2px;
    border: 1px;
    padding: 4px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    background-color: #fdf8b0;
    color: #333;
    box-shadow: 2px 2px 4px #DDD;
    cursor: pointer;
}

/* .convert {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
} */



#current-epoch {
    border-radius: 5px;
    background-color: rgb(234, 234, 250);
    border: 1px solid #D6D6F8;
    padding: 2px;
}

#clock-stopped {
    padding-left: 4px;
    color: #999999;
}

.section {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px;
}